<%- include('../partials/_head.ejs', {title:'Catalog Product'}) %>
<body>
    <%- include('../partials/_nav.ejs', {role:role, userId:userId}) %>
    <br>
    <br>
    <br>
    
    <br>
    <h1>User's Purchased Products</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% let totalAmount = 0; %>
            <% let productQuantity = {}; %>
            <% if (orders && orders.length) { %>
                <% orders.forEach(order => { %>
                    <% if (order.OrderDetails && order.OrderDetails.length) { %>
                        <% order.OrderDetails.forEach(orderDetail => { %>
                            <% totalAmount += orderDetail.unitPrice; %>
                            <% if (!productQuantity[orderDetail.Product.id]) { %>
                                <% productQuantity[orderDetail.Product.id] = orderDetail.quantity; %>
                            <% } else { %>
                                <% productQuantity[orderDetail.Product.id] += orderDetail.quantity; %>
                            <% } %>
                        <% }); %>
                    <% } %>
                <% }); %>
                <% Object.keys(productQuantity).forEach(productId => { %>
                    <% const product = orders.flatMap(order => order.OrderDetails).find(orderDetail => orderDetail.Product.id === parseInt(productId)); %>
                    <% if (product) { %>
                        <tr>
                            <td><%= product.Product.name %></td>
                            <td>Rp <%= product.unitPrice.toLocaleString('id-ID') %></td>
                            <td><%= productQuantity[productId] %></td>
                        </tr>
                    <% } %>
                <% }); %>
            <% } %>
            <tr>
                <td colspan="2"><strong>Total:</strong> Rp <%= totalAmount.toLocaleString('id-ID') %></td>
            </tr>
        </tbody>
    </table>
    <br>
    <button onclick="">Proceed to Payment</button>
    <br>
    <br>
    <%- include('../partials/_footer.ejs') %>
</body>
</html>
